@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
  box-shadow: 0 6px 15px 0 rgba(178, 223, 219, 0.5),
    0 6px 20px 0 rgba(178, 223, 219, 0.5);
}

*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
}
/* .mainScroll::-webkit-scrollbar {
  display: none;
}

Hide scrollbar for IE, Edge and Firefox */
.mainContent {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 400;
  src: local("Frank Ruhl Libre Regular"), local("FrankRuhlLibre-Regular"),
    url(path/to/font.woff2) format("woff2");
}

@font-face {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 700;
  src: local("Frank Ruhl Libre Bold"), local("FrankRuhlLibre-Bold"),
    url(path/to/font-bold.woff2) format("woff2");
}
